*,
*::before,
*::after {
  box-sizing: border-box;
  color: #fff9f9 !important;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  background: #191616 !important;
  color: #ffffff !important;
  margin: 0;
  padding: 0;
}
input,
textarea,
button,
select {  
  background-color: #191616 !important ;
  color: #fff9f9 !important;
}